.produtct-list-block {
  padding: 50px 0;
}

.produtct-list-title {
  color: #000000;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.product-list-by-type {

  .block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
  }
}
