.product-by-brand-block{
    padding:  50px 0;
}

.product-by-brand{
    width: 100%;

    .product-by-brand-list{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }


}