.search-results-block{
    padding:  50px 0;
}

.search-results{
    width: 100%;

    .search-results-list{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }


}