.dashboard {
  display: flex;
  padding: 50px 0;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: #4e43d8;
  }

  &.active {
    color: #4e43d8;
    font-weight: bold;
  }
}

.main-content {
  width: 80%;
  flex-grow: 1;
  padding: 0 40px;
}

.header p {
  font-size: 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stat-item {
  width: 30%;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}

.stat-item h2 {
  font-size: 20px;
}

.account-manager {
  margin-top: 40px;
}

.account-manager h3 {
  font-size: 18px;
}

.account-manager p {
  font-size: 14px;
}

.save-address-btn,
.edit-address-btn,
.save-profile-btn,
.edit-profile-btn {
  background: #4e43d8;
  display: inline-block;
  color: #ffffff;
}

.history-order-action {
  span {
    cursor: pointer;
    margin-right: 20px;
    text-decoration: underline;
  }
}

.order-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  h5 {
    margin-bottom: 0;
  }

  .order-status {
    font-weight: bold;
    border: 1px solid #4e43d8;
    padding: 5px 15px;
    border-radius: 5px;
  }
}

.product-image-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.order-detail-table,
.orders-history-table {
  width: 100%;
  background-color: none;
  border-collapse: collapse;

  th {
    padding: 10px;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
}

.order-detail-table {
  .product-name {
    width: 50%;
  }
}
.reset-password-btn,
.btn-received {
  background: #4e43d8;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  float: right;
}

.user-profile {
  min-height: 50vh;
}

.change-pw .title {
  font-weight: 500;
}

.confirm-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.confirm-button button {
  padding: 10px 20px;
  color: white;
  background: #4e43d8;
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 18px;
}

.confirm-button button:hover {
  background-color: #4e43d8;
  transition: all 0.2s ease-in-out;
  color: white;
}

.custom-input .wrap-input {
  display: flex;
  align-items: center;
  gap: 8px;
  grid-gap: 8px;
  padding: 5px;
  border: 1px solid #d8dae5;
  border-radius: 5px;
  background-color: white;
}

.custom-input .wrap-input input {
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
}

.custom-input .wrap-input i {
  cursor: pointer;
}