.product-item {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;

  .product-item-image {
    width: 100%;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-item-title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 0;
    color: #333e48;
  }

  .product-item-price {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: block;
    margin-bottom: 8px;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 2px;
    width: 100px;
    background-color: #fff;

    .quantity-btn {
      background: none;
      border: none;
      color: #000000;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      &:hover {
        color: #4e43d8;
      }

      &.decrease-btn,
      &.increase-btn {
        font-size: 12px;
      }
    }

    .quantity-input {
      width: 30px;
      height: 20px;
      text-align: center;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      background-color: transparent;
    }

    .quantity-input::-webkit-inner-spin-button,
    .quantity-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .action {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-to-cart-btn {
      width: 40px;
      height: 40px;
      position: relative;
      background-color: #4e43d8;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.2s;
      border-radius: 50%;

      &:hover {
        background-color: #333;
      }

      &::after {
        content: "Thêm vào giỏ hàng";
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0.2s;
        white-space: nowrap;
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
