.page-header {
  background: #363635;

  .header-main-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    height: 70px;

    .header-logo a {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 8px;

      .logo {
        font-size: 40px;
      }
    }

    .header-content-item {
      display: inline-block;
      margin-left: 20px;
      position: relative;

      &.user-menu {
        cursor: pointer;
        font-size: 15px;

        .user-dropdown-menu {
          position: absolute;
          top: 35px;
          right: -15px;
          width: 150px;
          background: #ffffff;
          color: #363635;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          z-index: 999999;

          a{
            color: #363635;
            text-decoration: none;
            font-size: 15px;
            padding: 10px 20px;
            display: block;
            font-weight: 600;
          }

          &::before {
            content: '';
            position: absolute;
            top: -20px;
            right: 12px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
          }

          li {
            width: 100%;
            border: none;
            background: transparent;
            text-align: left;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            padding: 10px 20px;


            &:hover {
              background: #f0f0f0;
              border-radius: 5px;
            }
          }

          .logout{
            border-top: 1px solid #ddd;
          }
        }
      }

      &.top-search {
        form {
          display: flex;
        }

        button {
          border: none;
          background: none;
          position: static !important;
          width: auto !important;
          color: #ffffff;
          cursor: pointer;
          font-size: 18px;
        }

        input {
          font-size: 12px;
          border: none;
          border-bottom: 1px solid #ddd;
          border-radius: 0px !important;
          color: #000;
          position: relative;
          background: none;
          margin-left: 10px;
          width: 240px;
          height: 28px;
          max-width: 240px;
          margin: 0 0 0 10px;
          padding: 0 5px;

          &:focus-visible {
            outline: none;
          }
        }

        .actions {
          display: flex;
          align-items: center;
        }
      }
    }

    .header-content {
      font-size: 15px;

      .header-content-inner {
        width: 100%;
        display: flex;
        align-items: center;
      }

      a {
        font-size: 18px;
      }
    }
  }
}
